body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding: 100px 0;
  line-height: 1.5;
  color: #eee;
  background-image: url('binding_dark.png');
  background-color: #000; }
label {
  font-size: 0.8em;
  font-weight: 100; }
input {
  color: #000; }

#myFlipper {
  width: 500px;
  margin: 0 auto; 
  text-align: center; }
  #myFlipper #flipper-inside {
    background-color: #444; }
    #myFlipper #flipper-inside .front .front__content *:not(img) {
      padding: 2em 1em; }
    #myFlipper #flipper-inside .back .back__content {
      padding: 2em;
      width: 100%; }
      #myFlipper #flipper-inside .back a {
        display: inline-block;
        padding: 1em 0;
        color: #6699ff; }
        #myFlipper #flipper-inside .back a:hover {
          color: #337aff; }
